@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
}
.container-body{
    position: relative;
    background-color: #ffffff;
}
header {
    background-color: #212121;
    color: #fdfdfd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
.logo {
    display: flex;
    align-items: center;
  }
  
.logo img {
    width: 75px;
    margin-right: 1rem;
}
.h1{
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
}
nav li a {
    color: #ffffff;
    text-decoration-line:none;
    padding: 1rem;
    transition: background-color 0.3s;
}
nav li a:hover {
    background-color: #333;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
}
.container-biografias{
    position: relative;
    display: flex;
    width: calc(100% - 40px);
    height: 695px;
    left: 20px;
    top: 20px;
    background-color: #ffffff;
    overflow: hidden;
}
.biografia{
    width: 600px;
    height: 300px;
    border: 2px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
}
#biografia1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#biografia1 h1{
    position: absolute;
    top: 55px;
    left: 35%;
}
#biografia1 p{
    padding-top: 20px;
    margin-top: 0px;
    text-align: justify;
}
#biografia2{
    position: absolute;
    left: 679px;
}
#biografia2 h1{
    position: absolute;
    top: 55px;
    left: 45%;
}
#biografia2 p{
    padding-top: 20px;
    margin-top: 0px;
    text-align: justify;
}
#biografia3{
    position: absolute;
    top: 340px;
}
#biografia3 h1{
    position: absolute;
    top: 55px;
    left: 30%;
}
#biografia3 p{
    padding-top: 20px;
    margin-top: 0px;
    text-align: justify;
}
#biografia4{
    position: absolute;
    left: 679px;
    top: 340px;
}
#biografia4 h1{
    position: absolute;
    top: 55px;
    left: 28%;
}
#biografia4 p{
    padding-top: 20px;
    margin-top: 0px;
    text-align: justify;
}
.fotosBio{
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}